<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="static/admin.css">
</head>
<body>
    <div class="title">
        <p>Teams Admin Page</p>
    </div>
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
    <div class="headerphoto">
        <div>
            <form action="" method="post">
            <p>
                <label for ="teamname">Team Name:</label>
                <input type="text" id="teamname" name="teamname" />
            </p>
            <p class="button">
                <button type="submit">Submit data</button>
            </p>
        </form> 
        </div>
</body>
</html>