<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='games.css') }}">
</head>
<body>

<div class="title">
    <p>Games Admin Page</p>
</div>

<div class="flash-messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>

<div class="headerphoto"></div>

<div class="form-section"></div>

<div class="form-container">
    <form action="" method="post">

        <p>
            <label for="date_time">Date played:</label>
            <input type="date" id="date_time" name="date_time" />
        </p>

        <p>
            <label for="home_teamid">Home Team Name:</label>
            <select id="home_teamid" name="home_teamid">
                {% for team in team_data %}
                <option value="{{ team.team_id }}">{{ team.teamname }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="away_teamid">Away Team Name:</label>
            <select id="away_teamid" name="away_teamid">
                {% for team in team_data %}
                <option value="{{ team.team_id }}">{{ team.teamname }}</option>
                {% endfor %}
            </select>
        </p>

        <div class="inner-container">

            <div class="score-sheet">
                <p>
                    <label for="home_player1">Player 1:</label>
                    <select id="home_player1" name="home_player1">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player1_score">Score:</label>
                    <input type="text" id="home_player1_score" name="home_player1_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player1_score">Score:</label>
                    <input type="text" id="away_player1_score" name="away_player1_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player1">Player 2:</label>
                    <select id="away_player1" name="away_player1">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player2">Player 3:</label>
                    <select id="home_player2" name="home_player2">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player2_score">Score:</label>
                    <input type="text" id="home_player2_score" name="home_player2_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player2_score">Score:</label>
                    <input type="text" id="away_player2_score" name="away_player2_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player2">Player 4:</label>
                    <select id="away_player2" name="away_player2">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player3">Player 5:</label>
                    <select id="home_player3" name="home_player3">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player3_score">Score:</label>
                    <input type="text" id="home_player3_score" name="home_player3_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player3_score">Score:</label>
                    <input type="text" id="away_player3_score" name="away_player3_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player3">Player 6:</label>
                    <select id="away_player3" name="away_player3">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player4">Player 7:</label>
                    <select id="home_player4" name="home_player4">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player4_score">Score:</label>
                    <input type="text" id="home_player4_score" name="home_player4_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player4_score">Score:</label>
                    <input type="text" id="away_player4_score" name="away_player4_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player4">Player 8:</label>
                    <select id="away_player4" name="away_player4">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player5">Player 9:</label>
                    <select id="home_player5" name="home_player5">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player5_score">Score:</label>
                    <input type="text" id="home_player5_score" name="home_player5_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player5_score">Score:</label>
                    <input type="text" id="away_player5_score" name="away_player5_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player5">Player 10:</label>
                    <select id="away_player5" name="away_player5">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player6">Player 11:</label>
                    <select id="home_player6" name="home_player6">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player6_score">Score:</label>
                    <input type="text" id="home_player6_score" name="home_player6_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player6_score">Score:</label>
                    <input type="text" id="away_player6_score" name="away_player6_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player6">Player 12:</label>
                    <select id="away_player6" name="away_player6">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player7">Player 13:</label>
                    <select id="home_player7" name="home_player7">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player7_score">Score:</label>
                    <input type="text" id="home_player7_score" name="home_player7_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player7_score">Score:</label>
                    <input type="text" id="away_player7_score" name="away_player7_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player7">Player 14:</label>
                    <select id="away_player7" name="away_player7">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player8">Player 15:</label>
                    <select id="home_player8" name="home_player8">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player8_score">Score:</label>
                    <input type="text" id="home_player8_score" name="home_player8_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player8_score">Score:</label>
                    <input type="text" id="away_player8_score" name="away_player8_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player8">Player 16:</label>
                    <select id="away_player8" name="away_player8">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

            <div class="score-sheet">
                <p>
                    <label for="home_player9">Player 17:</label>
                    <select id="home_player9" name="home_player9">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="home_player9_score">Score:</label>
                    <input type="text" id="home_player9_score" name="home_player9_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player9_score">Score:</label>
                    <input type="text" id="away_player9_score" name="away_player9_score" maxlength="1" pattern="\d" />
                </p>

                <p>
                    <label for="away_player9">Player 18:</label>
                    <select id="away_player9" name="away_player9">
                        {% for player in player_data %}
                        <option value="{{ player.player_id }}">{{ player.playername }}</option>
                        {% endfor %}
                        </select>
                </p>
            </div>

        </div>

        <p class="button">
            <button type="submit">Submit Data</button>
        </p>

    </form>
</div>

</body>
</html>