<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='games.css') }}">
</head>
<body>

<div class="title">
    <p>Games Admin Page</p>
</div>

<div class="flash-messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>

<div class="headerphoto"></div>

<div class="form-section"></div>

<div class="form-container">
    <form action="" method="post">

        <p>
            <label for="date_time">Date played:</label>
            <input type="date" id="date_time" name="date_time" />
        </p>

        <p>
            <label for="home_teamid">Home Team Name:</label>
            <select id="home_teamid" name="home_teamid">
                {% for team in team_data %}
                <option value="{{ team.team_id }}">{{ team.teamname }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="away_teamid">Away Team Name:</label>
            <select id="away_teamid" name="away_teamid">
                {% for team in team_data %}
                <option value="{{ team.team_id }}">{{ team.teamname }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="hometeam_score">Home Team Singles Score:</label>
            <input type="text" id="hometeam_score" name="hometeam_score_singles" />
        </p>

        <p>
            <label for="awayteam_score">Away Team Singles Score:</label>
            <input type="text" id="awayteam_score" name="awayteam_score_singles" />
        </p>

        <p>
            <label for="hometeam_score_doubles">Home Team Doubles Score:</label>
            <input type="text" id="hometeam_score_doubles" name="hometeam_score_doubles" />
        </p>

        <p>
            <label for="awayteam_score_doubles">Away Team Doubles Score:</label>
            <input type="text" id="awayteam_score_doubles" name="awayteam_score_doubles" />
        </p>

        <p class="button">
            <button type="submit">Submit Data</button>
        </p>

    </form>
</div>

</body>
</html>