<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ipswich Section B League</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="title">
            <p>Ipswich Section B website</p>
        </div>
        <div class="headerphoto">
            <a class="tablelink" href="singlesleaguetable">Singles table</a>
            <a class="tablelink" href="doublesleaguetable">Doubles table</a>
        </div>
    </body>
</html>
