<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>League Table</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='leaguetable.css') }}">
</head>
<body>
    <div class="title">
        <p>Welcome to the Section B website</p>
    </div>
    <div class="headerphoto">
        <table>
            <caption>Section B League Table</caption>
            <thead>
                <tr>
                    <th>Team ID</th>
                    <th>Team Name</th>
                    <th>Matches Won</th>
                    <th>Bonus Points</th>
                    <th>Total Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in table %}
                <tr>
                    <td>{{ team.team_id }}</td>
                    <td>{{ team.teamname }}</td>
                    <td>{{ team.legs_won }}</td>
                    <td>{{ team.match_points }}</td>
                    <td>{{ team.total_points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
